[Unit]
Description=Davmail Exchange Gateway

[Service]
Type=simple
ExecStart=/usr/bin/davmail /export/home/dbr4/.config/davmail/davmail.properties
Restart=always
RestartSec=60

[Install]
WantedBy=default.target

