[Unit]
Description=Davmail Exchange Gateway

[Service]
Type=simple
ExecStart=/usr/bin/davmail %h/.config/davmail/davmail.properties
Restart=always
RestartSec=60

[Install]
WantedBy=default.target

