[Unit]
Description=Mailbox Synchronization Service

[Service]
Type=oneshot
Environment="PASSWORD_STORE_DIR=/export/home/dbr4/.local/share/passwords"
Environment="GNUPGHOME=/export/home/dbr4/.local/share/gnupg"
Environment="PATH=/export/home/dbr4/.local/bin:/usr/bin"
Environment="DISPLAY=:0"
ExecStart=/usr/bin/mbsync -Va -c /export/home/dbr4/.config/isync/mbsyncrc
