[Unit]
Description=Calendar and Contacts Synchronization Service

[Service]
Type=oneshot
Environment="PASSWORD_STORE_DIR=/export/home/dbr4/.local/share/passwords"
Environment="GNUPGHOME=/export/home/dbr4/.local/share/gnupg"
Environment="PATH=/export/home/dbr4/.local/bin:/usr/bin"
Environment="DISPLAY=:0"
ExecStart=/usr/bin/vdirsyncer sync
