[Unit]
Description=GnuPG private key agent
Wants=environment.target
Before=environment.target
IgnoreOnIsolate=true

[Service]
Type=forking
Environment="GNUPGHOME=/home/douglas/.local/share/gnupg"
ExecStart=/usr/bin/gpg-agent --daemon --enable-ssh-support 
Restart=on-abort

[Install]
WantedBy=default.target
