bind index,pager i noop
bind index,pager g noop
bind index,pager \Cf noop
bind index,pager M noop
bind index,pager C noop
bind index s noop
bind index,pager \Co noop

# Navigation bindings
bind index,pager,browser gg first-entry
bind index,pager,browser G last-entry
bind index,pager,browser \Cd half-down
bind index,pager,browser \Cu half-up
bind pager j next-line
bind pager \Ce next-line
bind pager k previous-line
bind pager \Cy previous-line
bind pager gg top
bind pager G bottom
bind index j next-entry
bind index \Ce next-entry
bind index \Cy previous-entry
bind index k previous-entry

bind index l display-message
bind pager h exit

bind index N search-opposite

bind index d delete-message
bind index u undelete-message

#bind index L limit
bind index,pager R group-reply
bind index,pager H view-raw-message

bind index,query space tag-entry

bind index,pager R group-reply
bind index,pager @ compose-to-sender
macro browser h '<change-dir><kill-line>..<enter>' "Go to parent folder"
bind browser l select-entry

bind attach <return> view-mailcap
bind attach l view-mailcap

bind editor <Tab> complete-query

macro index <tab> '<shell-escape> ~/.local/bin/email-sync -a <enter>'
