unmailboxes *

set mbox_type = Maildir
set folder = "~/.local/share/mail/personal"

set spoolfile = "+Inbox"
set record = "+Sent"
set postponed = "+Drafts"

mailboxes "+Inbox" "+Inbox/amazon" "+Inbox/finances" "+Inbox/health"
mailboxes "+Inbox/other" "+Inbox/webcontact" "+Inbox/webservices" 
mailboxes "+Inbox/webmaster" "+Sent" "+Drafts" "+Trash"


set from = `get-pass email/personal email`
set use_from=yes
set sendmail = "msmtp -a personal"

set signature = "~/.config/mutt/sigs/personal.signature"

set pgp_default_key = `get-pass email/personal email`

macro index <tab> '<shell-escape> ~/.local/bin/email-sync personal <enter>'
