unmailboxes *

set folder = "/export/home/dbr4/.local/share/mail/university"
set mbox_type = Maildir
set spoolfile = "+Inbox"
set record = "+Sent"
set postponed = "+Drafts"
set trash = "+Trash"

mailboxes "+Inbox" "+Sent" "+Drafts" "+Trash"

set from = `get-pass email/psu email`
set sendmail = "msmtp -a university"

set signature = "/export/home/dbr4/.config/mutt/sigs/psu.signature"

set pgp_default_key = `get-pass email/psu email`
